*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* chrome | safari */
}

html,
body {
	scrollbar-width: none; /* firefox */
	background-color: var(--black);
	color: var(--white);
	overflow-x: hidden;
	user-select: none;
	overscroll-behavior-y: none;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: var(--font-family-main);
	line-height: var(--line-height-md);
}

h1,
h2,
h3,
button,
span {
	font-family: var(--font-family-heading-bold);
	line-height: var(--line-height-sm);
	letter-spacing: var(--letter-spacing-md);
}

@media screen and (max-width: 599px) {
	h1 { font-size: var(--step-10); }
	h2 { font-size: var(--step-8); }
	li { font-size: var(--step-10); }
	p	 { font-size: var(--step-0); }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
	h1 { font-size: var(--step-9); }
	h2 { font-size: var(--step-7); }
	li { font-size: var(--step-9); }
	p	 { font-size: var(--step-1); }
}

@media screen and (min-width: 900px) and (max-width: 1439px) {
	h1 { font-size: var(--step-8); }
	h2 { font-size: var(--step-6); }
	li { font-size: var(--step-8); }
	p	 { font-size: var(--step-2); }
}

@media screen and (min-width: 1440px) {
	h1 { font-size: var(--step-8); }
	h2 { font-size: var(--step-6); }
	li { font-size: var(--step-8); }
	p	 { font-size: var(--step-2); }
}

a {
	color: var(--white);
	text-decoration: none;
}

button {
	color: var(--white);
	transition: opacity 0.5s;
	background: none;
	border: none;
	cursor: pointer;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
}

/* Small (0px-599px) 414
• Medium (600px-899px) 768
• Large (900px-1199px) 1366
• Extra large (1200px and up) 1920
 */
