@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap");
@font-face {
	font-family: "Monument Extended";
	src: url("../../public/fonts/MonumentExtended-Regular.otf");
}
@font-face {
	font-family: "Monument Extended Bold";
	src: url("../../public/fonts/MonumentExtended-Ultrabold.otf");
}
