:root {
	--black: black;
	--grey: lightgrey;
	--white: white;
/* ---------------------------------------------------- */
	--font-family-main: "Space Grotesk", sans-serif;
	--font-family-heading: "Monument Extended", sans-serif;
	--font-family-heading-bold: "Monument Extended Bold", sans-serif;
/* ---------------------------------------------------- */
	--line-height-sm: 0.95;
	--line-height-md: 1.6;
/* ---------------------------------------------------- */
	--letter-spacing-sm: 1.5px;
	--letter-spacing-md: 3px;
	--letter-spacing-lg: 4.5px;
	--letter-spacing-xl: 9px;
/* ---------------------------------------------------- */
	--step-0: clamp(1.00rem, 1.00rem + 0.00vw, 1.00rem);
  --step-1: clamp(1.07rem, 1.02rem + 0.26vw, 1.33rem);
  --step-2: clamp(1.14rem, 1.02rem + 0.63vw, 1.78rem);
  --step-3: clamp(1.22rem, 1.00rem + 1.14vw, 2.37rem);
  --step-4: clamp(1.30rem, 0.95rem + 1.84vw, 3.16rem);
  --step-5: clamp(1.38rem, 0.86rem + 2.79vw, 4.21rem);
  --step-6: clamp(1.48rem, 0.71rem + 4.08vw, 5.61rem);
  --step-7: clamp(1.57rem, 0.48rem + 5.83vw, 7.48rem);
  --step-8: clamp(1.68rem, 0.15rem + 8.19vw, 9.97rem);
  --step-9: clamp(1.79rem, -0.34rem + 11.35vw, 13.29rem);
  --step-10: clamp(1.91rem, -1.01rem + 15.61vw, 17.71rem);
}
