.footer {
	padding: 3rem 0 2rem 0;
	text-align: center;
	padding-top: 50px;
	margin-top: 50px;
}

.footer-heading {
	margin-bottom: 3rem;
	white-space: nowrap;

	.footer-btn-cta {
		@include text-stroke;
	}

	.footer-btn-cta:hover {
		@include text-stroke-hover;
	}
}

.footer-mail  {
	a {
		color: $grey;
	}

	a:hover {
		color: $white;
	}
}

.footer-social {
	margin: 1rem 0 1rem 0;

	img {
		width: clamp(16px, 1rem + 1vw, 32px);
		filter: invert(30%) sepia(50%) saturate(7%) hue-rotate(334deg) brightness(100%) contrast(89%);
	}

	img:hover {
		filter: brightness(0) invert(1);
	}

	a:not(:last-child) {
		padding-right: 3rem;
	}
}
