.footer {
	padding: 3rem 0 2rem 0;
	text-align: center;
	margin-top: 100px;
}

.footer-heading {
	margin-bottom: 3rem;
	white-space: nowrap;

	.footer-btn-cta {
		@include text-stroke;
	}

	.footer-btn-cta:hover {
		@include text-stroke-hover;
	}
}

.footer-body {
	display: flex;
	justify-content: center;
}

.footer-copyright {
	margin: auto;
}

.footer-copyright {
	color: $grey;
}

.footer-mail  {
	margin: auto;

	a {
		color: $grey;
	}

	a:hover {
		color: $white;
	}
}

.footer-social {
	margin: auto;

	img {
		margin-top: 10px;
		width: clamp(16px, 1rem + 1vw, 32px);
		filter: invert(30%) sepia(50%) saturate(7%) hue-rotate(334deg) brightness(100%) contrast(89%);
	}

	img:hover {
		filter: brightness(0) invert(1);
	}

	a:not(:last-child) {
		padding-right: 3.3rem;
	}
}

@media screen and (max-width: 899px) {
	.footer-body {
		flex-direction: column;
		height: calc(+150px);
	}

	.footer-heading h2 {
		font-size: $step-6;
	}
}
