.footer {
	width: 100%;
	height: 100vh;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 5fr 1fr 1fr;
	grid-template-areas:
  	"headline  headline  headline"
		"logo			 mail      copyright"
		"punchline social    span";
}

.blank-span {
	grid-area: span;
}

.footer-social img {
	width: 24px;
	height: 24px;
}

.footer-headline {
	grid-area: headline;
	font-family: 'Akzidenz Grotesk Bold', sans-serif;
	font-size: 2rem;
	letter-spacing: -2px;
	line-height: 0.9;
	padding-bottom: 3rem;
}

.footer-logo {
	grid-area: logo;
	justify-self: start;
	align-self: end;
}

.footer-punchline {
	grid-area: punchline;
	justify-self: start;
	align-self: start;
	font-size: 0.85rem
}

.footer-social {
	grid-area: social;
	align-self: start;
}

.footer-social > a:not(:first-child) {
	margin-left: 1rem;
}

.footer-email {
	grid-area: mail;
	font-size: 0.7rem;
	align-self: end;
	padding-top: 1.5rem;
	border-top: 1px solid grey;
}

.footer-copyright {
	grid-area: copyright;
	align-self: end;
	font-size: 0.7rem;
	padding-top: 1.5rem;
	border-top: 1px solid grey;
}

.button-cta {
	margin-top: -0.4rem;
	border: none;
	font-size: 2rem;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-family: 'Akzidenz Grotesk Bold', sans-serif;
}

.button-cta a {
	text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
	color: #000;
}

.button-cta a:hover {
	color: #fff;
	text-shadow: none;
}
