.footer {
	padding: 3rem 0 2rem 0;
}

.footer-heading {
	margin-bottom: 3rem;
}

.footer-btn-cta {
}

.footer-mail {
	display: block;
	margin-bottom: 1rem;
}

.footer-social {
	margin-bottom: 1rem;
}

.footer-social a:not(:last-child) {
	padding-right: 1.5rem;
}

.footer-social img {
	width: clamp(16px, 0.5rem + 1vw, 32px);
}

.footer-copyright {
}

.footer-mail,
.footer-social,
.footer-copyright {
	font-size: var(--font-size-fluid-md1);
}
