.tilt {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}

.tilt-photo-back, .tilt-photo-front {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

.tilt-photo-front {
	opacity: 0;
	z-index: 3;
	transition: opacity 0.7s;
}

.tilt:hover .tilt-photo-front {
	opacity: 1;
}

.tilt-title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-family: 'Monument Extended Bold';
	font-size: 120px;
	line-height: 1;
	color: lightgrey;
	mix-blend-mode: overlay;
	backdrop-filter: blur(10px);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px white;
	font-style: italic;
	padding-right: 30px;
	letter-spacing: 3px;
}
