.menu-toggle-svg,
.menu-toggle-text {
	animation: reveal-reverse 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.menu-toggle-text {
	@include text-stroke;
	margin: 3px 5px 0 0;
	font-size: 1.4em;
}

.menu-toggle {
	@include center-content;
	flex-direction: row;
	position: fixed;
	right: 3rem;
	top: 3rem;
	z-index: 2;
	cursor: pointer;
	overflow: hidden;
}

@media screen and (max-width: 599px) {
	.menu-toggle-text {
		display: none;
	}

	.menu-toggle {
		right: 2rem;
		top: 2rem;
	}
}
