.menu-toggle-svg,
.menu-toggle-text {
	animation: $reveal-reverse;
}

.menu-toggle-svg {
	position: relative;
	top: 5px;
	right: 5px;
}

.menu-toggle-text {
	margin: 0 5px 0 0;
	font-size: 1.1em;
	font-weight: 400;
}

.menu-toggle {
	@include center-content;
	flex-direction: row;
	position: fixed;
	right: 6rem;
	top: 2.2rem;
	z-index: 2;
	cursor: pointer;
	overflow: hidden;
	mix-blend-mode: difference;
}

@media screen and (max-width: 599px) {
	.menu-toggle-text {
		display: none;
	}

	.menu-toggle {
		right: 2rem;
		top: 2rem;
	}
}
