.about-hero {
  @include center-content;
	min-height: 100vh;
}

.about-hero > h1 > span {
	background: linear-gradient(180deg, $black 0%, $grey 60%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.about-hero > h1:nth-child(1) {
	display: flex;
}

/* ------------------------------------------------- */
.intro {
	min-height: 120vh;
	@include center-content;
	flex-direction: row;
	text-align: left;
	justify-content: space-around;

	img {
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
		margin-right: 50px;
	}

	.intro-text {
		max-width: 650px;

		h3 {
			@include text-stroke;
		}

		p:not(:last-child) {
			margin-bottom: 1rem;

			a {
				text-decoration: underline;
				font-style: italic;
			}
		}
	}
}

/* ------------------------------------------------- */

/* Media queries */

@media only screen and (max-width: 1300px) {
	.intro {
		flex-direction: column;
		text-align: center;

		img {
			margin-right: 0px;
		}

		.intro-text {
			margin-top: 50px;
		}
	}

}

@media only screen and (max-width: 899px) {
	.about-hero > h1:nth-child(1) {
		flex-direction: column;
	}
}

@media only screen and (max-width: 599px) {
	.about-hero {
		min-height: 50vh;
		justify-content: flex-end;
	}
}
