.about-hero {
  @include center-content;
	min-height: 100vh;
}

.about-hero > h1 > span {
	background: linear-gradient(180deg, $black 0%, $grey 60%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.about-hero > h1 {
	display: flex;
}
/* ------------------------------------------------- */
.intro {
	min-height: 120vh;
}

.intro-text {
	max-width: 452px;
}

.intro-text p:not(:last-child) {
	margin-bottom: 1rem;
}

.intro a {
	text-decoration: underline;
}
/* ------------------------------------------------- */
.tilt {
	max-width: 452px;
	max-height: 552px;
	width: 100%;
	height: 100%;
	margin-bottom: 3rem;
}

.tilt-photo-back,
.tilt-photo-front {
	width: 100%;
	height: 100%;
	max-width: 452px;
	max-height: 552px;
	position: absolute;
	object-fit: cover;
	border-radius: 5px;
}

.tilt-photo-front {
	opacity: 0;
	z-index: 1;
	transition: opacity 0.5s;
}

.tilt:hover .tilt-photo-front {
	opacity: 1;
}

.tilt-title-container {
	@include center-content;
	@include text-stroke;
	width: 100%;
	height: 100%;
	color: $grey;
	mix-blend-mode: overlay;
	backdrop-filter: blur(10px);
	-webkit-text-stroke: 2px white;
	font-style: italic;
	padding-right: 30px;
	border-radius: 5px;
}

/* ------------------------------------------------- */

/* Media queries */
@media only screen and (max-width: 899px) {
	.about-hero > h1 {
		flex-direction: column;
	}

	.tilt-photo-front {
		opacity: 1;
	}
}
