.landing {
	width: 100%;
	height: 100vh;
	position: relative;
}
.video-full-screen {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
}

.linear-gradient-div {
	position: absolute;
	width: 100%;
	height: 102%;
	background: linear-gradient(0deg, #000 0%, #ffffff00 100%);
}

.landing-content {
	@include center-content;
	width: 100%;
	height: 100%;
	mix-blend-mode: hard-light;
	-webkit-text-stroke: 2px white;
	-webkit-text-fill-color: transparent;
}

.landing-content-title {
	display: flex;

	span {
		padding-right: 1.3rem;
	}
}

.skills {
	@include center-content;
	width: 100%;
	height: 100vh;
}

@media screen and (max-width: 599px) {
	.landing-content-title {
		flex-direction: column;
	}

	.landing-content-title > span {
		padding-right: 0rem;
	}
}
