
///////////////// works /////////////////

.featured-productions {
	background: green;
	padding: 1rem;
	height: 100vh;
}

.overlay {
	overflow: hidden;
	background: blue;
	padding: 1rem;
	height: 100%;
}

.plus {
	width: 100%;
	height: 100%;
}

.space {
	height: 1200px;
	background: yellow;
}

