#thumbnail-container {
  position: relative;
  width: 150vw;
  height: 350vh;
	margin-top: 300px;

	.thumbnail {
		position: absolute;
		background-color: grey;
		opacity: 0.8;
		transition: 0.3s;
		filter: grayscale(0.5);
	}

	.thumbnail:hover {
		opacity: 1;
		z-index: 1;
		filter: grayscale(0);
	}
}
