.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: var(--color-grey);
	font-size: 5em;
	font-weight: bold;
	line-height: 0.90;
	will-change: transform;
	font-family: 'Monument Extended', sans-serif;
	letter-spacing: 5px;
	font-style: italic;
}

.hero > div {
	background: linear-gradient(180deg, var(--a), var(--b));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	will-change: transform;
	padding-right: 20px;
}

.hero > div:nth-child(even) {
	align-self: flex-end;
}

.hero > div:nth-child(odd) {
	align-self: flex-start;
}

.hero {
	--a: var(--color-dark) 0%;
	--b: var(--color-grey) 50%;
}

.intro {
	height: 100vh;
	line-height: 1.4em;
	font-size: 1.2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.intro-text {
	width: 18em;
	height: auto;
}

.intro-text p:nth-child(-n+2) {
	margin-bottom: 1.2em;
}

.intro a {
	text-decoration: underline;
}

.lan {
	width: 452px;
	height: 552px;
}
