.hero {
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100vh;
	color: var(--color-grey);

	font-size: 7em;
	font-weight: bold;
	line-height: 0.8em;
}

.hero > div:nth-child(even) {
	align-self: end;
}

.hero > div:nth-child(odd) {
	align-self: start;
}

.hero {
	--a: var(--color-dark) 0%;
	--b: var(--color-grey) 50%;
}

.hero > div {
	background: linear-gradient(180deg, var(--a), var(--b));
	background-clip: text;
	-webkit-text-fill-color: transparent;
	will-change: transform;
}

.introduce-description {
	background-color: black;
	width: 60%;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	margin: 0 auto;
	font-size: 1.6em;
}
