.logo-img {
	width: 270px;
	height: 63px;
	animation: $reveal-reverse;
}

.logo-wrapper {
	position: fixed;
	top: 2rem;
	left: 6rem;
	z-index: 1;
	cursor: pointer;
	overflow: hidden;
}

@media screen and (max-width: 599px) {
	.logo-wrapper {
		right: 2rem;
		top: 1.5rem;
	}

	.logo-img {
		width: 204px;
		height: 48px;
	}
}
