.logo-img {
	width: 200px;
	height: 46px;
	animation: $reveal-reverse;
}

.logo-wrapper {
	position: fixed;
	top: 2rem;
	left: 6rem;
	z-index: 1;
	cursor: pointer;
	overflow: hidden;
	mix-blend-mode: difference;
}

@media screen and (max-width: 599px) {
	.logo-wrapper {
		left: 2rem;
		top: 2rem;
	}

	.logo-img {
		width: 150px;
		height: 35px;
	}
}
