@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');

@font-face {
	font-family: "Monument Extended";
	src: url("../../public/fonts/MonumentExtended-Regular.woff2");
}

@font-face {
	font-family: "Monument Extended Bold";
	src: url("../../public/fonts/MonumentExtended-Ultrabold.woff2");
}

@font-face {
	font-family: "Have Heart One";
	src: url("../../public/fonts/HaveHeartOne.woff2");
}
