// Center content
@mixin center-content {
	justify-content: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

// Text stroke
@mixin text-stroke {
	-webkit-text-stroke: clamp(1.1px, 0.2vw, 2px) white;
	color: transparent;
}

@mixin text-stroke-hover {
	-webkit-text-fill-color: unset;
	color: $white;
}

// Background noise effect
@mixin noise-background {
	background: url("../../public/images/noise.png");
	animation: $noise;
}
