// Center content
@mixin center-content {
	justify-content: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

// Text stroke
@mixin text-stroke {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1.3px white;
}

@mixin text-stroke-hover {
	-webkit-text-fill-color: unset;
	color: $white;
}

// Background noise effect
@mixin noise-background {
	background: url("../../public/images/noise.png");
	animation: $noise;
}
