// Colors
$black: black;
$grey: #c8c8c8;
$white: white;

// Fonts
$font-family-main: "Prompt", sans-serif;
$font-family-heading: "Monument Extended", sans-serif;
$font-family-heading-bold: "Monument Extended Bold", sans-serif;

// Line heights
$line-height-sm: 0.95;
$line-height-md: 1.6;
$line-height-lg: 2.2;

// Letter spacings
$letter-spacing-sm: 1.5px;
$letter-spacing-md: 3px;
$letter-spacing-lg: 4.5px;
$letter-spacing-xl: 9px;

// Fluid font sizes
$step-0: clamp(1.06rem, 1.09rem + -0.13vw, 0.88rem);
$step-1: clamp(1.13rem, 1.12rem + 0.07vw, 1.24rem);
$step-2: clamp(1.21rem, 1.14rem + 0.38vw, 1.75rem);
$step-3: clamp(1.29rem, 1.13rem + 0.84vw, 2.47rem);
$step-4: clamp(1.38rem, 1.10rem + 1.50vw, 3.50rem);
$step-5: clamp(1.47rem, 1.01rem + 2.46vw, 4.95rem);
$step-6: clamp(1.57rem, 0.85rem + 3.84vw, 6.99rem);
$step-7: clamp(1.67rem, 0.58rem + 5.82vw, 9.89rem);
$step-8: clamp(1.79rem, 0.17rem + 8.64vw, 13.98rem);
$step-9: clamp(1.90rem, -0.47rem + 12.65vw, 19.77rem);
$step-10 :clamp(2.03rem, -1.41rem + 17.35vw, 27.96rem);
$step-11 :clamp(2.03rem, -1.41rem + 25.55vw, 27.96rem);
$step-12 :clamp(2.03rem, -1.41rem + 28.55vw, 27.96rem);

/*
	$layout-small: (0px-599px)
	$layout-medium: (600px-899px)
	$layout-large: (900px-1199px)
	$layout-extra-large: (1200px and up)
*/
