.menu-toggle-svg,
.menu-toggle-text {
}

.menu-toggle-svg {
}

.menu-toggle-text {
	margin: 3px 5px 0 0;
}

.menu-toggle {
	@include center-content;
	flex-direction: row;
	position: fixed;
	z-index: 2;
	cursor: pointer;
	right: 3rem;
	top: 3rem;
}
