.nav {
	display: flex;
	align-items: center;
	position: fixed;
	padding-left: 5rem;
	font-size: 5em;
	height: 100vh;
	width: 100%;
	z-index: 1;
	line-height: 0.9;
	background-color: var(--black);
	font-family: var(--font-heading);
}

.nav li {
	/* Vay amk */
	float: left;
	clear: left;
}

.nav a {
	transition: 0.2s;
}

.nav li:hover a {
	padding-left: 130px;
}
