.tilt {
	width: 100%;
	height: 100%;
}

.tilt-photo-back,
.tilt-photo-front {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
	object-fit: cover;
}

.tilt-photo-front {
	opacity: 0;
	z-index: 1;
	transition: opacity 0.5s;
}

.tilt:hover .tilt-photo-front {
	opacity: 1;
}

.tilt-title-container {
	width: 100%;
	height: 100%;
	color: var(--grey);
	font-family: var(--font-heading-bold);
	font-size: 4rem;
	line-height: 0.8;
	mix-blend-mode: overlay;
	backdrop-filter: blur(10px);
	-webkit-text-stroke: 2px white;
	font-style: italic;
	padding-right: 30px;
	letter-spacing: 3px;
}
