$noise: noise 1s steps(20) infinite;
@keyframes noise {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 100%;
	}
}

$reveal: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
@keyframes reveal {
  0% {
    transform: translate(0,100%);
  }
  100% {
    transform: translate(0,0);
  }
}

$reveal-reverse: reveal-reverse 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
@keyframes reveal-reverse {
  0% {
    transform: translate(0,-120%);
  }
  100% {
    transform: translate(0,0);
  }
}
