.cta-btn {
	position: fixed;
	right: 6rem;
	bottom: 2.2rem;
	z-index: 50;
	font-size: $step-0;
	cursor: pointer;
	mix-blend-mode: difference;
	background: none;
	border: none;
}

#contact-modal {
	outline: none;
	color: #222;
	overflow: visible;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: auto;
	width: 100vw;
	height: 80vh;
	min-width: 100%;
	box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 20px;
	padding: $step-6;
	margin: 0;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	will-change: transform;
	@include noise-background;
	background-color: #eee;
}

#contact-close-button {
	box-shadow: rgba(0, 0, 0, 0.1) 0px -5px 5px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	@include noise-background;
	background-color: #eee;
	border-radius: 200px;
	padding: 2rem;
	outline: none;
}

// -------------------------------------------

.contact-modal-content {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-template-rows: 1.25fr 1fr;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
	grid-gap: $step-3;
}

.contact-section {
	width: 100%;
	height: 100%;
}

.contact-heading-section {
	padding: 1rem;
}

.contact-heading-title {
	font-family: "Have Heart One";
	text-transform: none;
	font-weight: 400;
	margin-bottom: 1rem;
}

.contact-heading-subtext {
	opacity: 0.5;
}

.contact-form-section {
	grid-row: 1 / -1;
	grid-column: 2 / -1;
}

.contact-form {
	@include center-content;
	width: 100%;
	height: 100%;
}

.input {
	font-size: $step-1;
	outline: none;
	width: 100%;
	height: 100%;
	padding: 12px 12px 8px 20px;
	border-radius: 5px;
	border: none;
}

.input:nth-child(-n+3) {
	margin-bottom: 8px;
}

.text-area {
	resize: none;
	min-height: 130px;
}

.form-submit-btn {
	background: #222;
	color: #eee;
	font-size: $step-1;
	font-family: $font-family-heading;
  font-weight: 400;
	-webkit-appearance: none;
	transition: 0.3s;
	cursor: pointer;
}

.form-submit-btn:hover {
	background: #555;
}

.contact-info-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: $step-1;
}

.contact-info-label {
	opacity: 0.5;
	font-size: $step-0;
}

.contact-info-detail * {
	cursor: pointer;
	color: #222;
}

.contact-social-icons:nth-child(n+1) {
	margin: 0 20px 0 0;
}

.contact-social-icons {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

// -------------------------------------------

@media screen and (max-width: 599px) {
	#contact-modal,
	.input,
	.form-submit-button,
	.contact-info-label {
		font-size: 16px !important;
	}

	#contact-modal {
	//	max-height: 70vh;
	}

	.cta-btn {
		bottom: 2rem;
		right: 2rem;
	}

	.contact-info-section {
	//	grid-template-columns: 1fr;
	//	grid-template-rows: 1fr 1fr 1fr 1fr;
	//	margin-bottom: 5rem;
	}

	.text-area {
		min-height: 100px;
	}

	.contact-social-icons {
		max-width: 16px;
		max-height: 16px;
	}

	.contact-social-icons:nth-child(n+1) {
		margin: 0 17px 0 0;
	}
}

@media screen and (max-width: 899px) {
	#contact-close-button {
		padding: 1rem;
	}

	.contact-modal-content {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 3fr 1fr;
		grid-gap: $step-3;
	}

	.contact-heading-section {
		text-align: center;
	}

	.contact-form-section {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
	}

	.input {
		font-size: $step-0;
	}

	.form-submit-btn {
		padding: 1rem 0;
	}

	.contact-social-icons {
		width: 18px;
		height: 18px;
	}
}

// -------------------------------------------

@keyframes customEnterModalAnimation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes customLeaveModalAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110%);
  }
}
