.video-gallery-container-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.video-gallery-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
	width: 960px;
	justify-items: center;
	overflow: hidden;
}

.video-gallery-container video {
	width: 100%;
	height: 100%;
}

.px-480-270 {
	max-width: 480px;
	max-height: 270px;
}

.px-480-209 {
	max-width: 480px;
	max-height: 209px;
}

.px-440-550 {
	max-width: 480px;
	max-height: 550px;
}

.px-384-480 {
	max-width: 384px;
	max-height: 480px;
}
