.video-gallery-container {
	padding-top: 3rem;
	display: grid;
	grid-gap: 50px 10px;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.video-thumbnail img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.px-600-338 {
	max-width: 600px;
	max-height: 338px;
}

.px-600-261 {
	max-width: 600px;
	max-height: 261px;
}

.px-600-750 {
	max-width: 600px;
	max-height: 750px;
}

article {
	display: inline-block;
}
