@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
	--color-dark: #14161b;
	--color-grey: #dbdbdb;
	--color-blue: #337DFF;
	--color-white: #ffffff;
}

html,
body {
	background-color: var(--color-dark);
	color: white;
/*  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.6;
	font-size: 24px;
	overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
	user-select: none;
}

a {
  color: var(--color-blue);
	text-decoration: none;
}
