@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap");
@font-face {
	font-family: "Monument Extended";
	src: url("../public/fonts/MonumentExtended-Regular.otf");
}
@font-face {
	font-family: "Monument Extended Bold";
	src: url("../public/fonts/MonumentExtended-Ultrabold.otf");
}

:root {
	--black: black;
	--grey: lightgrey;
	--white: white;
	--font-heading: "Monument Extended", sans-serif;
	--font-heading-bold: "Monument Extended Bold", sans-serif;
	--font-main: "Space Grotesk", sans-serif;
}

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* chrome | safari */
}

html,
body {
	scrollbar-width: none; /* firefox */
	color: var(--white);
	overflow-x: hidden;
	user-select: none;
	overscroll-behavior-y: none;
	line-height: 1.6;
	font-family: var(--font-main);
	font-size: 24px;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--black);
}

a {
	color: var(--white);
	text-decoration: none;
}

button {
	color: var(--white);
	font-family: var(--font-heading-bold);
	transition: opacity 0.5s;
	background: none;
	border: 1px solid var(--white);
	cursor: pointer;
	letter-spacing: 3px;
}

ul {
	list-style-type: none;
}

h1,
h2,
h3 {
	font-family: var(--font-heading);
}

@keyframes noise {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 100%;
	}
}

/* SPECIFIC TO CLASS NAMES */
.center-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.noise-background {
	background: url("../public/images/noise.png");
	animation: noise 1s steps(20) infinite;
}

.text-stroke {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px white;
}

.text-stroke:hover {
	-webkit-text-fill-color: unset;
	color: var(--white);
}
